@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

.customButton {
  background-color: #8d8b6f;
  color: white;
  border-radius: 1rem;
}

.customButton:hover {
  background-color: #7b7960;
} 